<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于

NSBBS是经由[CNode 社区](https://cnodejs.org/)的源代码修改而来。

社区目前由 [@陈宇](https://github.com/believedotchenyu) 在维护，有问题请联系：believe.chenyu@gmail.com
*/
        })) %>
      </div>
    </div>
  </div>
</div>
